<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="makeithappen_RAP" sequenceNumber="24">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.6.3.v20160428-59c81c5"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.texo.feature.group" version="0.9.0.v201606022133"/>
<unit id="org.eclipse.emf.texo.runtime.core.feature.group" version="0.9.0.v201606022133"/>
<unit id="org.eclipse.emf.texo.sdk.feature.group" version="0.9.0.v201606022133"/>
<repository location="http://download.eclipse.org/modeling/emft/texo/updates/interim"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.2.2.v20150202-0452"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.2.v20150202-0452"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.2.1.v20150202-0452"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.rap.sdk.feature.feature.group" version="1.8.0.20160216-1319"/>
<unit id="org.eclipse.emf.ecp.rap.util.feature.feature.group" version="1.8.0.20160216-1319"/>
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="1.8.0.20160216-1319"/>
<unit id="org.eclipse.emf.ecp.sdk.e4.feature.feature.group" version="1.8.0.20160216-1319"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_18"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201602111638"/>
<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.0.201502101659-signed-20150525172209"/>
<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.7.2.v201511240257"/>
<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.2.1.20150819-2224"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.7.1.v201512021921"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.203.v201602092125"/>
<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.2.v201501171820"/>
<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.102.v201501171820"/>
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.2.20160201-1220"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.1.v201409111648"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.4.1.v20160212-1350"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.302.v201504272154"/>
<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.4.2.v201512181609"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.2.101.v201501152048"/>
<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.7.0.v201602161345"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.6.201.v201512010225"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.0.3.20160209-0600"/>
<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.2.201.v201602090909"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.401.v201509231858"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
</target>
